<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="4" preserve-order="true"
          name="C:/Users/eyase/Desktop/automation project learning/WafilifeWebAutomation">
        <classes>
            <class name="TestCases.TestLogin">
                <methods>
                    <include name="testLoginWithValidCredentials"/>
                </methods>
            </class>
            <class name="TestCases.DashboardPageTest">
                <methods>
                    <include name="testDashboardPage"/>
                </methods>
            </class>
            <class name="TestCases.FindAuthorTest">
                <methods>
                    <include name="clickAuthorMenu"/>
                    <include name="scrollToFooter"/>
                    <include name="navigateToNextPage"/>
                </methods>
            </class>
            <class name="TestCases.SelectAuthorTest">
                <methods>
                    <include name="viewAuthor"/>
                </methods>
            </class>
            <class name="TestCases.ViewBookDetailsTest">
                <methods>
                    <include name="viewBookDescription"/>
                </methods>
            </class>
            <class name="TestCases.OrderBookTest">
                <methods>
                    <include name="testOrderBook"/>
                </methods>
            </class>

            <class name="TestCases.OrderCompletePageTest">
                <methods>
                    <include name="testOrderCompletePage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>